<div *ngIf="loaded">
  <div *ngIf="pusher">
    <h3>{{ pusher.name }}</h3>

    <div>
      <Button (click)="mine()">Mine a new hash seed</Button>
    </div>

    <div *ngIf="stash.length > 0">
      <b>Stash</b>
      <div *ngFor="let hash of stash">
        {{ hash.Hash }} ({{ hash.Entry.seed }}) : {{ testTT(hash.Hash) }} 
        <button (click)="sellHash = hash">Sell</button>
        <div *ngIf="sellHash == hash">
            Price: <input type="number" [(ngModel)]="price"/>
            <button (click)="sell(hash, price); sellHash = null">Add to market</button>
            <button (click)="sellHash = null">Cancel</button>
        </div>
      </div>
    </div>
  </div>

  

</div>

<div>
  Hash:
  <input type="text" [(ngModel)]="hash">
  <button type="submit" (click)="find()">Find</button>

  <div *ngIf="foundPusher">
    <h2>Pusher</h2>
    <p>{{ foundPusher?.name }}</p>
  </div>
</div>