<h1>Welcome to Holo Pusher</h1>

<div *ngIf="loaded">
  <div *ngIf="pusher">
    <h3>{{ pusher.name }}</h3>

    <div>
      <Button (click)="mine()">Mine a new hash seed</Button>
    </div>

    <div *ngIf="stash.length > 0">
      <b>Stash</b>
      <div *ngFor="let hash of stash">
        {{ hash.Hash }}
      </div>
    </div>
  </div>

  <div *ngIf="!pusher">
    Name:
    <input type="text" [(ngModel)]="name">
    <button type="submit" (click)="createPusher()">Create</button>
  </div>

</div>

<div>
  Hash:
  <input type="text" [(ngModel)]="hash">
  <button type="submit" (click)="find()">Find</button>

  <div *ngIf="foundPusher">
    <h2>Pusher</h2>
    <p>{{ foundPusher?.name }}</p>
  </div>
</div>